* {
    font-family: 'Trebuchet MS', sans-serif;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

/* Header */
header {
    /* background-image: linear-gradient( rgb(78, 189, 163),rgb(56, 54, 54)); */
    display: flex;
    background-color: rgb(78, 189, 163);
    ;
    flex-direction: row;
    justify-content: space-between;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 50%;

}

/* Heading (Your Name) */
h1 {
    font-size: 4em;
    left: 0;
}

/* Paragraph under the heading */
p {
    margin: 5px 0 0 0;
    font-size: 1.2em;
}

/* Image Styling: Align image to the right and make it smaller */
.imageDiv {
    width: 200px;
}

.profile-pic {
    width: 100px;
    /* Smaller size */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 40%;
    align-items: flex-end;

}

/* Section Title */
.semester-section h2 {
    font-size: 3em;
    padding-left: 20px;
    background: linear-gradient(to right, rgb(78, 189, 163), white);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-weight: 900;
}

/* Project Container */
.project {
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-self: center;
}

/* Project Content: Use Flexbox to align content */
.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Text Section: Left Side */
.text-content {
    flex: 1;

}

.text-content h3 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.text-content p {
    margin: 0;
    margin-top: 20px;
    font-size: 1.1em;
    color: #c3c3c3;
}

/* Image Section: Right Side */
.image-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 300px;
    justify-content: center;

}

.project-image {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    align-self: self-end;
}

/* Button Styling */
button {
    background-color: rgb(78, 189, 163);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    align-self: self-end;
    width: 30%;
    margin-top: 20px;
    margin-right: 7%;

}

button:hover {
    background-color: #333;
}

/* Description Area */
.description {
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #444;
    display: none;
    /* Initially hidden */
}